.footer {
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
  height:60px;
  width: 100%;
  position:absolute;
}
.header {
  padding: 12px;
  text-align: left;
  display: block;
  background: black;
  color: white;
  float : right;
  width : 100%;
  top:0;
  position:absolute;
  font-size: 20px;
}

.header a {
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin: auto;
	
}

.searchbar {
	float : right;
}


body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color:powderblue;
}

.city {
	height: auto;
	width: auto;
	margin: auto;
	display: block;
	overflow: hidden;
	padding: 20%;
}
.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
{
	display : flex;
	background-color : lightgrey;
}
.flex-item
{
	background-color : blue;
	padding : 20px;
	margin : 10px;
	font-size : 30px;
}
a:visited { 
 text-decoration: none; 
 color: white; 
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
